<form #heroForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <!-- <input type="text" name="name" id="name" [value]="model.name" (input)="onChange($event)"> -->
    <label for="name">Hero name:</label>
    <input type="text" name="name" id="name" [(ngModel)]="model.name" required #name="ngModel">
    <div class="error-message" [hidden]="name.valid">
      Please fill the required name field!
    </div>
  </div>
  <div class="form-group">
    <label for="power">Hero Power:</label>
    <select name="power" id="power" [(ngModel)]="model.power" required #power="ngModel">
      <option *ngFor="let power of powers" [value]="power">
        {{ power }}
      </option>
      <option></option>
    </select>
    <div class="error-message" [hidden]="power.valid">
      Please select a superpower!
    </div>
  </div>
  <div class="form-group">
    <label for="alterEgo">Alterego:</label>
    <input 
      type="text" 
      name="alterEgo" 
      id="alterEgo" 
      required [(ngModel)]="model.alterEgo" 
      #alterEgo="ngModel"
    >
    <div class="error-message" [hidden]="alterEgo.valid">
      Please fill the required alterEgo field!
    </div>
  </div>
  <div class="form-group">
    <button type="submit" [disabled]="!heroForm.form.valid || isSubmitted">Submit</button>
    <p *ngIf="isSubmitted">
      The form is submitted. <br>
      Model: {{ model | json }}
    </p>
  </div>
</form>